{% extends "home/utils/base.html" %} {% block content %}
<div
	class="max-w-lg grid mx-auto md:max-w-5xl md:grid-cols-3 lg:max-w-6xl lg:grid-cols-4 gap-6 p-4">
	<div class="max-w-sm rounded overflow-hidden shadow-lg p-4 bg-white">
		<div class="card-content">
			<img class="w-full" src="" alt="Card image" />
			<div class="px-6 py-4">
				<h1 class="font-bold text-xl mb-2">Name</h1>
				<h3 class="text-gray-700 text-base">Intro</h3>
			</div>
		</div>
		<div class="grid grid-cols-2 items-center justify-center footer px-6 py-4">
			<h4 class="text-gray-600">Duration</h4>
			<a href="#" class="text-red-600 hover:text-red-800">
				<i class="fa-brands fa-youtube"></i>
			</a>
		</div>
	</div>
	<div class="max-w-sm rounded overflow-hidden shadow-lg p-4 bg-white">
		<div class="card-content">
			<img class="w-full" src="" alt="Card image" />
			<div class="px-6 py-4">
				<h1 class="font-bold text-xl mb-2">Name</h1>
				<h3 class="text-gray-700 text-base">Intro</h3>
			</div>
		</div>
		<div class="grid grid-cols-2 items-center justify-center footer px-6 py-4">
			<h4 class="text-gray-600">Duration</h4>
			<a href="#" class="text-red-600 hover:text-red-800">
				<i class="fa-brands fa-youtube"></i>
			</a>
		</div>
	</div>
	<div class="max-w-sm rounded overflow-hidden shadow-lg p-4 bg-white">
		<div class="card-content">
			<img class="w-full" src="" alt="Card image" />
			<div class="px-6 py-4">
				<h1 class="font-bold text-xl mb-2">Name</h1>
				<h3 class="text-gray-700 text-base">Intro</h3>
			</div>
		</div>
		<div class="grid grid-cols-2 items-center justify-center footer px-6 py-4">
			<h4 class="text-gray-600">Duration</h4>
			<a href="#" class="text-red-600 hover:text-red-800">
				<i class="fa-brands fa-youtube"></i>
			</a>
		</div>
	</div>
</div>
{%endblock%}
