<nav class="bg-gray-800">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-16 items-center justify-between">
			<div
				class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex flex-shrink-0 items-center text-white">
					<a href="{%url 'home_view' %}"><h2>hooshmandlab</h2></a>
				</div>
				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<button
							class="btn btn-primary text-white bg-blue-500 hover:bg-blue-700 p-1 rounded">
							<a href="{% url 'instructor_dashboard_view' %}">dashboard</a>
						</button>
						<button
							class="btn btn-primary text-white bg-blue-500 hover:bg-blue-700 p-1 rounded">
							<a href="{% url 'instructor_register_view' %}"
								>register instructor</a
							>
						</button>
						<button
							class="btn btn-primary text-white bg-blue-500 hover:bg-blue-700 p-1 rounded">
							<a href="{% url 'instructor_login_view' %}">login instructor</a>
						</button>
						<button
							class="btn btn-primary text-white bg-blue-500 hover:bg-blue-700 p-1 rounded">
							<a href="{% url 'register_view' %}">register user</a>
						</button>

						<button
							class="btn btn-primary text-white bg-blue-500 hover:bg-blue-700 p-1 rounded">
							<a href="{% url 'login_view' %}">login</a>
						</button>
					</div>
				</div>

				<div class="ml-auto">
					<a
						href="{%url 'instructor_logout_view'%}"
						class="rounded-md px-3 py-2 text-sm bg-red-600 font-medium text-gray-300 hover:bg-red-800 hover:text-white"
						>logout</a
					>
				</div>
			</div>
		</div>
	</div>
</nav>
