{%extends "../utils/base.html"%} {%block content%}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
		<h2
			class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
			Edit course
		</h2>
	</div>

	<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
		<form class="space-y-6" method="POST">
			{% csrf_token %}
			<div>
				<label
					for="course_title"
					class="block text-sm font-medium leading-6 text-gray-900"
					>Course Title</label
				>
				<div>
					<input
						id="course_title"
						name="course_title"
						value="{{course.course_title}}"
						type="text"
						autocomplete="course_title"
						placeholder="course title"
						required
						class="block w-full rounded-md pl-1 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			 <div>
				<label
					for="course_description"
					class="block text-sm font-medium leading-6 text-gray-900"
					>Course Description</label
				>
				<div>
					<textarea
						id="froala"
						type="text"
						name="course_description"
						value="{{course.course_description}}"
						autocomplete="course_description"
						placeholder="course description"
						required
						class="block w-full rounded-md pl-1 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
						>{{course.course_description}}</textarea>
				</div>
			</div> 


		
			<div>
				<label
					for="course_level"
					class="block text-sm font-medium text-gray-700"></label>
				<select
					name="course_level"
					value="{{course.course_level}}"
					id="course_level"
					class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
					{%for value, display in LEVEL_CHOICES%}
					<option value="{{value}}" {% if course.course_level == value %}selected{%endif%}>{{display}}</option>
					{%endfor%}
				</select>
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label
						for="course_starting_date"
						class="block text-sm font-medium leading-6 text-gray-900"
						>Course Starting Date</label
					>
				</div>
				<div>
					<input
						id="course_starting_date"
						name="course_starting_date"
						value="{{course_starting_date}}"
						type="date"
						placeholder="course starting date"
						required
						class="block w-full rounded-md pl-1 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label
						for="course_ending_date"
						class="block text-sm font-medium leading-6 text-gray-900"
						>Course Ending Date</label
					>
				</div>
				<div>
					<input
						id="course_ending_date"
						name="course_ending_date"
						value="{{course_ending_date}}"
						type="date"
						placeholder="course ending date"
						required
						class="block w-full rounded-md pl-1 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label
						for="course_price"
						class="block text-sm font-medium leading-6 text-gray-900"
						>course_price Number</label
					>
				</div>
				<div>
					<input
						id="course_price"
						name="course_price"
						value="{{course.course_price}}"
						type="number"
						placeholder="course price"
						required
						class="block w-full rounded-md pl-1 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
				</div>
			</div>

			<div>
				<button
					type="submit"
					class="flex w-full mt-4 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
					Edit
				</button>
			</div>
		</form>
	</div>
</div>


<script>
	var editor = new FroalaEditor('#froala');		
      </script>	

{% endblock %}
